// Place all the styles related to the shizens controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
a {
    color: red; 
}
.shizen{
    max-width: 240px;
    max-height: 470px;
}

.shizens-container{
    margin-top: 2%;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    gap: 5px;
    background: white;
    border: solid 1px white;
}
